<%- include('./partials/head.ejs') %> 
<%- include('./partials/nav.ejs') %> 

<section class="blogs">
    <div class="container">
        <h2> My Blogs </h2>  
        <div class="row">
            <div class="col-md-12">
                <div class="blog">
                    <% if ( blogs.length > 0) { %> 
                        <% blogs.forEach (blog => { %>

                            <div class="blog-content">
                                <a href="/blogs/<%= blog._id %> ">                                                                                
                                    <h4 class="blog-title "> <%= blog.title %> </h4> 
                                    <p class="blog-time"> <%= blog.createdAt %></p> <hr>
                                    <p class="blog-description" > <%= blog.description %> </p>
                                </a>                                                                                                                       
                            </div>        

                        <% }) %>
                    <% } else { %>       
                        <h3> No blogs to Display </h3>
                    <% } %> <!--IF STATEMENT--> 

                </div> <!--BLOG--> 
            </div>
        </div> <hr>
    </div>
</section>
  
     


<%- include('./partials/footer.ejs') %> 

